@import 'variables';

* {
  box-sizing: border-box;
  font-size: inherit;
}

body {
  margin: 0;

  // fonts
  font-family: "Roboto Slab", Avenir, sans-serif;
  font-weight: normal;
  font-size: 16px;
  background: $grey1;
}

main {
  width: 100vw;
  padding: 0 $paddingXL;
}

input,
textarea,
select,
button {
  font: inherit;
}

header {
  padding: $padding;
  background: $primary;
  color: $grey1;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }

  li {
    padding: 0 $paddingSM;
  }

  a {
    color: $grey1;
  }
  a:hover {
    color: $tertiary9;
  }

  nav,
  figure,
  nav > ul,
  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li:hover {
    color: $secondary;
    cursor: pointer;
  }
}

ul {
  margin: 0;
  padding: 0;
  text-indent: 0;
  list-style-type: none;
}
h1 {
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -2%;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -2%;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -2%;
  margin-bottom: 0;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: -2%;
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

small {
  font-weight: normal;
  font-size: 14px;
}

.pre-title {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
}

a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  color: $secondary;
}

a:hover {
  color: $tertiary;
}

section {
  padding: $paddingSM $padding;
  margin: $margin auto;
  border-radius: $borderRadiusSM;
  background: $grey1;

  header {
    padding: $paddingXS $paddingSM;
  }
}

aside {
  display: inline-block;
}

article {
  padding: $paddingXS;
}

summary {
  cursor: pointer;
}

summary:hover {
  color: $tertiary7;
}

button {
  padding: $paddingSM $padding;
  margin: $marginXS;
  cursor: pointer;
  border: none;
  border-radius: $borderRadiusSM;
  background: $grey5;
  letter-spacing: 1px;
  font-weight: bold;
  transition: all 0.2s;
}

button[disabled] {
  background-color: $grey3;
}

button[disabled]:hover {
  background-color: $grey3;
  cursor: default;
}

button.primary {
  background: $secondary;
  color: $grey1;
}

button:hover {
  background: $tertiary;
}

figure {
  margin: $marginSM
}

:focus-visible {
  outline: 2px solid $tertiary7;
  border-radius: $borderRadius;
}

.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  max-height: 100%;
  width: 100%;
}
