@import 'variables';

body {
  margin: 0;
  box-sizing: border-box;

  // fonts
  font-family: "Roboto Slab", Avenir, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
}

h1 {
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -2%;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -2%;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -2%;
  margin-bottom: 0;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: -2%;
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

small {
  font-weight: normal;
  font-size: 14px;
}

.pre-title {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
}

button {
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 3px;
}

a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
}

section {
  box-shadow: $boxShadow;
  padding: 2rem 4rem;
  margin: 2rem;
  border-radius: $borderRadiusS;
}

