@import 'variables';

body {
  margin: 0;
  box-sizing: border-box;

  // fonts
  font-family: "Roboto Slab", Avenir, sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  background: $grey;
}

main {
  padding: $padding $paddingXL;
}

input,
textarea,
select,
button {
  font: inherit;
}

header {
  padding: $padding;
  background: $primary;
  color: $offWhite;
  display: flex;
  justify-content: space-between;
  align-items: center;

  h2 {
    margin: 0;
  }

  ul {
    margin: 0;
    padding: 0;
    text-indent: 0;
    list-style-type: none;
  }

  li {
    padding: 0 $paddingSM;
  }

  nav,
  figure,
  nav > ul,
  nav > ul > li {
    display: inline-block;
  }

  nav > ul > li:hover {
    color: $secondary;
    cursor: pointer;
  }
}

h1 {
  font-weight: bold;
  font-size: 64px;
  letter-spacing: -2%;
}

h2 {
  font-weight: bold;
  font-size: 40px;
  letter-spacing: -2%;
}

h3 {
  font-weight: bold;
  font-size: 24px;
  letter-spacing: -2%;
  margin-bottom: 0;
}

h4 {
  font-weight: normal;
  font-size: 24px;
  letter-spacing: -2%;
  margin-bottom: 0;
}

strong {
  font-weight: bold;
}

small {
  font-weight: normal;
  font-size: 14px;
}

button {
  letter-spacing: 2px;
}

a {
  font-weight: bold;
  font-size: 16px;
  text-decoration: underline;
  color: $tertiary9;
}

a:hover {
  color: $tertiary1;
}

section {
  box-shadow: $boxShadow;
  padding: $paddingLG $paddingXL;
  margin: $margin auto;
  border-radius: $borderRadiusSM;
  background: $offWhite;
  max-width: 1080px;
}

summary {
  cursor: pointer;
}

summary:hover {
  color: $tertiary7;
}

button {
  padding: $paddingXS $padding;
  margin: $marginXS;
  cursor: pointer;
  border: none;
  border-radius: $borderRadius;
  background: $grey;
}

button:hover {
  background: $tertiary;
}

:focus-visible {
  outline: 2px solid $secondary;
  border-radius: $borderRadius;
}
