@import 'variables';

.bg-grey {
  background-color: $grey5;
}
.bg-grey-lightest {
  background-color: $grey1;
}
.bg-grey-light {
  background-color: $grey3;
}
.bg-grey-dark {
  background-color: $grey7;
}
.bg-grey-darkest {
  background-color: $grey9;
}

.bg-primary {
  background-color: $primary;
}
.bg-primary-lightest {
  background-color: $primary1;
}
.bg-primary-light {
  background-color: $primary3;
}
.bg-primary-dark {
  background-color: $primary7;
}
.bg-primary-darkest {
  background-color: $primary9;
}


.bg-secondary {
  background-color: $secondary;
}
.bg-secondary-lightest {
  background-color: $secondary1;
}
.bg-secondary-light {
  background-color: $secondary3;
}
.bg-secondary-dark {
  background-color: $secondary7;
}
.bg-secondary-darkest {
  background-color: $secondary9;
}


.bg-tertiary {
  background-color: $tertiary;
}
.bg-tertiary-lightest {
  background-color: $tertiary1;
}
.bg-tertiary-light {
  background-color: $tertiary3;
}
.bg-tertiary-dark {
  background-color: $tertiary7;
}
.bg-tertiary-darkest {
  background-color: $tertiary9;
}

.invisible {
  display: none;
}
