$dark: #011627;
$offWhite: #fdfffc;
$grey: #e9ece8;
$primary: #2ec4b6;
$primary1: #acece5;
$primary3: #6ADCD1;
$primary7: #27A599;
$primary9: #17635C;
$secondary: #e71d36;
$secondary1: #f7b5bd;
$secondary3: #EF6B7B;
$secondary7: #B91327;
$secondary9: #6F0C17;
$tertiary: #ff9f1c;
$tertiary1: #ffddad;
$tertiary3: #ffc370;
$tertiary7: #E08300;
$tertiary9: #b86b00;
$focus: #C744F3;

$boxShadow: 0 8px 24px rgba(0, 0, 0, 0.05);

$borderRadiusS: 4px;
$borderRadiusM: 8px;
$borderRadiusL: 12px;
