@import 'components/variables';
@import 'components/base';

.item-content {
  max-width: 1080px;
  border-radius: $borderRadiusLG;

  .component {
    margin: 0 auto;
    padding: $paddingLG;
    min-width: 320px;
    max-width: 520px;

    .calculator {
      display: grid;
      grid-template-columns: repeat(4, 24%);
      grid-template-rows: repeat(5, auto);
    }

    header {
      grid-column-start: 1;
      grid-column-end: 5;
      border-radius: $borderRadiusLG;
      background: $tertiary;
      margin: $marginXS;
    }

    input {
      margin: $marginXS;
      padding: $paddingXS;
      border: solid 1px $tertiary;
      border-radius: $borderRadius;
    }

    input.equationInput {
      padding: $padding $paddingSM;
      grid-column-start: 1;
      grid-column-end: 5
    }

    button [type=solveEquation] {
      background-color: $tertiary;
      color: white;
    }

    button[type=solveEquation]:hover {
      background-color: $secondary
    }

    button:hover {
      background: $tertiary;
      color: $offWhite;
    }
  }
}
