@import 'components/variables';
@import 'components/base';

section.item-content {
  max-width: 1080px;
  border-radius: $borderRadiusL;

  .component {
    margin: 0 auto;
    padding: $lgPadding;
    min-width: 320px;
    max-width: 520px;

    .calculator {
      display: grid;
      grid-template-columns: repeat(4, 24%);
      grid-template-rows: repeat(5, auto);
    }

    header {
      grid-column-start: 1;
      grid-column-end: 5;
      border-radius: 10px;
      background: $tertiary
    }

    input.equationInput {
      padding: $basePadding $smPadding;
      grid-column-start: 1;
      grid-column-end: 5
    }

    button [type=solveEquation] {
      background-color: $tertiary;
      color: white;
    }

    button[type=solveEquation]:hover {
      background-color: $secondary
    }
  }
}

article {
  padding-top: $xlPadding;
  text-align: center;
}

input {
  margin: 5px;
  padding: $xsPadding;
  border: solid 1px $tertiary;
  border-radius: 5px;
}

button:hover {
  background: $tertiary;
  color: $offWhite;
}

:focus-visible {
  outline: 2px solid $secondary;
}
