@import 'components/base';
@import 'components/utils';
@import 'components/variables';

.system-section summary {
  font-weight: normal;
  font-size: 40px;
  letter-spacing: -2%;
}

.color-sample {
  padding: $padding 0;
  display: grid;
  grid-template-columns: 40% 20% 20% 20%;

  .isGrey {
    border: solid 1px $grey7;
    color: $grey9;
  }
}

.color-example {
  width: 100%;
  height: 100px;
  border-radius: 0 $borderRadiusSM $borderRadiusSM 0;
}

.color-variation {
  height: 25%;
  width: 100%;
  padding: 0 $padding;
  color: $grey1;
}

.spacing-blocks {
  margin: $margin;
  display: inline-block;

  span {
    margin-left: $marginSM;
    margin-right: $marginXS;
  }

  figure {
    display: inline-block;
    background: grey;
    margin: 0;
  }

  figure.padding-xs {
    width: $paddingXS;
    height: $paddingXS;
  }
  figure.padding-sm {
    width: $paddingSM;
    height: $paddingSM;
  }
  figure.padding {
    width: $padding;
    height: $padding;
  }
  figure.padding-lg {
    width: $paddingLG;
    height: $paddingLG;
  }
  figure.padding-xl {
    width: $paddingXL;
    height: $paddingXL;
  }
  figure.margin-xs {
    width: $marginXS;
    height: $marginXS;
  }
  figure.margin-sm {
    width: $marginSM;
    height: $marginSM;
  }
  figure.margin {
    width: $margin;
    height: $margin;
  }
  figure.margin-lg {
    width: $marginLG;
    height: $marginLG;
  }
  figure.margin-xl {
    width: $marginXL;
    height: $marginXL;
  }
}
